.bg-modal{
    background-color: black;
    opacity: 0.2;
    z-index: 1999;
}
.modal-wrapper{
    width: 80%;
    max-width: 400px;
    z-index: 2000;
}
.custom-modal{
    width: 100%;
    max-width: 400px;
}

.card-body{
    text-align: center;
}
